body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    background-color: #f4f4f4;
}

.sidebar {
    width: 250px;
    background-color: #FF921C; 
    color: white;
    height: 100vh;
    position: fixed;
    transition: transform 0.3s ease;
    transform: translateX(0);
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
}

.sidebar.active {
    transform: translateX(-100%);
}

.sidebar h2 {
    text-align: center;
    padding: 15px;
    margin: 0;
    font-size: 24px;
    background-color: #ECA427; 
    border-radius: 5px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 15px; 
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    border-radius: 5px; 
}

.sidebar ul li a:hover {
    background-color: #ECA427; 
}

.main-content {
    margin-left: 250px; 
    padding: 20px;
    flex-grow: 1;
    transition: margin-left 0.3s ease;
}

.main-content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ecf0f1;
    padding: 10px 20px;
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.main-content header h1 {
    margin: 0;
    font-size: 20px;
}

.main-content header p {
    margin: 0;
}

.content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin-top: 20px; 
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: relative;
        height: auto;
        transform: translateX(0);
    }

    .main-content {
        margin-left: 0; 
    }
}